body {
    h1{
    color: red;
    }
    background: url("./../assets/img/proba2.png") no-repeat;
 
    .change{
        background-color:  yellow;
    }
    .autoprefixer {
        user-select: none;
       }
}


// scsss 

.wrapper